<h2>All Products</h2>
{{#if success}}
  {{ash-status-message
      message=success
      success=true
  }}
{{/if}}

{{#if error}}
{{ash-status-message
    message=error
    error=true
}}
{{/if}}

{{outlet}}

{{#product-showcase
  product=leastExpensiveProduct
}}
  <b>Least Expensive</b>
{{/product-showcase}}

{{#product-showcase
  product=highestRatedProduct
}}
  <b>BESSSSTTTT</b>
{{/product-showcase}}
<h3>The average rating for all of Sahara's products is {{averageRating}}</h3>

{{ash-table
  headers=tableHd
  tableBody=model
  tableProps=tableProp
}}
