<h2>All Products</h2>
{{#if success}}
  {{ash-status-message
      message=success
      success=true
  }}
{{/if}}

{{#if error}}
{{ash-status-message
    message=error
    error=true
}}
{{/if}}

{{outlet}}

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Seller</th>
      <th>Rating</th>
    </tr>
  </thead>
  {{#each model as |prod|}}
    <tr>
      <td>
        {{#link-to 'products.edit' item.id}}
          {{prod.name}}
        {{/link-to}}
      </td>
      <td>
        {{prod.price}}
      </td>
      <td>
        {{prod.category}}
      </td>
      <td>
        {{prod.seller}}
      </td>
      <td>
        {{prod.rating}}
      </td>
    </tr>
  {{/each}}

</table> -->

{{ash-table
  headers=tableHd
  tableBody=model
  tableProps=tableProp
}}
